*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0d1117;
color:#e6edf3;
}

/* HEADER */
header{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#0d1117;
border-bottom:1px solid #1f2933;
z-index:1000;
}

nav a{
margin-left:30px;
color:#9aa4ad;
text-decoration:none;
}
nav a:hover{color:#00ff9c;}

section{
padding:120px 8%;
}

/* HERO */
.hero{
height:90vh;
display:flex;
align-items:center;
}

.hero h1{
font-size:64px;
margin-bottom:10px;
}

.hero h2{
font-size:24px;
color:#00ff9c;
margin-bottom:20px;
}

/* ABOUT */
.about{
display:flex;
align-items:center;
gap:60px;
}

.about-img img{
width:220px;
height:220px;
border-radius:12px;
border:2px solid #00ff9c;
object-fit:cover;
}

.about-text p{
margin-bottom:20px;
line-height:1.8;
color:#9aa4ad;
}

/* SKILLS */
.skill-box{
display:inline-block;
border:1px solid #00ff9c44;
padding:10px 20px;
margin:10px;
border-radius:8px;
}

/* CARDS */
.card{
border:1px solid #1f2933;
padding:30px;
margin-bottom:20px;
border-radius:10px;
}

/* FADE ANIMATION */
.fade{
opacity:0;
transform:translateY(40px);
transition:1s;
}
.fade.show{
opacity:1;
transform:translateY(0);
}
.delay{transition-delay:.3s;}
